@model CoreAndFood.Data.Models.Food


@{
    ViewData["Title"] = "AddFood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Food Page</h1>
<br />

@using(Html.BeginForm("AddFood", "Food", FormMethod.Post))
{

    <h4>Food Name</h4>
    @Html.TextBoxFor(x => x.Name , new {@class="form form-control"})

    <h4>Description</h4>
    @Html.TextBoxFor(x => x.Description , new {@class="form form-control"})

    <h4>Price ₺</h4>
    @Html.TextBoxFor(x => x.Price , new {@class="form form-control"})

    <h4>Image URL</h4>
    @Html.TextBoxFor(x => x.ImageURL , new {@class="form form-control"})

    <h4>Stock</h4>
    @Html.TextBoxFor(x => x.Stock , new {@class="form form-control"})

    <h4>Category Name</h4>
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.value, new {@class = "form form-control"})

    <br />

    <button class="btn btn-info">Save</button>
}